$oxford-blue: #002244;
$blue-sapphire: #1C6182;
$iguana-green: #73B286;
$liberty: #4A5FA3;
$jelly-bean: #DE6B48;

$note-red:#EF476F;
$note-orange:#EB5E28;
$note-green:#06D6A0;
$note-blue:#118AB2;
$note-darkblue:#1C77C3;

$gray:#D1D2D4;